*{
    margin: 0;
    padding: 0;
}



body{
    margin: 0;
    padding: 0;
     
    background: rgb(136, 135, 135);
    height:100vh ;
    background-size: 100%, 100%;
}


.signup{
    width: 300px;
    height: 400px;
    padding: 20px;
    text-align: center; 
    
    background: url(simon-marsault-Y3cmorOBse0-unsplash.jpg);
    position: absolute; 
     
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.signup h1{
    color:rgba(253, 253, 253, 0.932);   

}